@charset "UTF-8";
/*****couleurs*****/
/***** police  *****/
/***** margin  ******/
footer a {
  color: white;
}

.footer_content {
  background-color: #353535;
  color: #fff;
}

.fa-utensils,
.fa-hands-helping {
  margin-right: 10px;
  color: white;
}

.logoohmyfood_footer {
  font-family: "Shrikhand", sans-serif;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

main {
  background-color: #f6f6f6;
  border-radius: 1.25rem 1.25rem 0 0;
  position: relative;
  margin-top: -25px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

li {
  list-style-type: none;
}

.logoohmyfood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Shrikhand", sans-serif;
}

.img_resto1,
.img_resto2,
.img_resto3,
.img_resto4 {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.enseigne {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border-radius: 1.25rem 1.25rem 0 0;
  padding: 10px;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 25px;
}

h2 {
  font-size: 13px;
  margin: 10px;
  border-top: none;
  border-bottom: 3px solid #99e2d0;
  width: 11%;
}

footer {
  background-color: #353535;
}

.entrer1 {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  border-radius: 1.25rem;
  background: #ffffff;
  margin-bottom: 10px;
}

.commander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 32px;
  border-radius: 1.25rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#d66cdb), to(#a45cdb));
  background: linear-gradient(#d66cdb, #a45cdb);
  border: none;
  padding: 10px;
}

.btn_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fa-heart {
  position: absolute;
  right: 16px;
  bottom: 10px;
  font-size: 20px;
  -webkit-text-stroke: 1px white;
}

.full_hrt:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-fill-color: transparent;
}

.shape_hrt {
  opacity: 0;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.shape_hrt:hover {
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes slide-heart {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateZ(32px);
            transform: translateZ(32px);
    opacity: 0.2;
  }
  40% {
    -webkit-transform: translateZ(64px);
            transform: translateZ(64px);
    opacity: 0.4;
  }
  60% {
    -webkit-transform: translateZ(96px);
            transform: translateZ(96px);
    opacity: 0.6;
  }
  80% {
    -webkit-transform: translateZ(128px);
            transform: translateZ(128px);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
    opacity: 1;
  }
}

@keyframes slide-heart {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateZ(32px);
            transform: translateZ(32px);
    opacity: 0.2;
  }
  40% {
    -webkit-transform: translateZ(64px);
            transform: translateZ(64px);
    opacity: 0.4;
  }
  60% {
    -webkit-transform: translateZ(96px);
            transform: translateZ(96px);
    opacity: 0.6;
  }
  80% {
    -webkit-transform: translateZ(128px);
            transform: translateZ(128px);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
    opacity: 1;
  }
}

.btn_checked {
  font-size: 1.3rem;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  color: #ffffff;
  opacity: 0;
}

.btn_checked:hover {
  opacity: 1;
  -webkit-animation: slide-in-left 0.5s linear both;
          animation: slide-in-left 0.5s linear both;
  -webkit-transform-origin: left 50%;
          transform-origin: left 50%;
  width: 60px;
  height: 100%;
  background: #99e2d0;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    -webkit-transform: rotateX(180°);
            transform: rotateX(180°);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    -webkit-transform: rotateX(180°);
            transform: rotateX(180°);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.price {
  position: absolute;
  right: 10px;
  top: 20px;
}

.enter_sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=resto.css.map */