/*****couleurs*****/
/***** police  *****/
/***** margin  ******/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clear:before, .clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

header {
  display: flex;
  font-family: "Roboto";
  text-align: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 0 2px 0 #d5d5d5;
  position: relative;
}

/*****HEADER*****/
.logoohmyfood {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
}

/*****PRESENTATION*****/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presentationglobal {
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.presentation_title {
  text-align: center;
}

.localisation {
  display: flex;
  max-width: 100%;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  height: 32px;
  box-sizing: border-box;
  width: 100%;
  background-color: #eaeaead0;
}

.btn {
  display: flex;
  justify-content: center;
}
.btn_action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 32px;
  border-radius: 1.25rem;
  background: linear-gradient(#d66cdb, #a45cdb);
  border: none;
}

/*****FONCTIONNEMENT****/
.fonctionnement {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.steps {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  box-shadow: 0 0 17px #aaaaaa;
  border-radius: 1.25rem;
  padding: 17px;
  margin-top: 3px;
}

.steps_number {
  margin-left: -20px;
  background-color: #9356dc;
  border-radius: 1.25rem;
}

/******RESTAURANTS*******/
.restaurants_img {
  border-radius: 1.25rem 1.25rem 0 0;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.restau_info {
  color: black;
  box-sizing: border-box;
  box-shadow: 0 0 17px #aaaaaa;
  border-radius: 0 0 1.25rem 1.25rem;
  padding: 10px;
  margin-top: -26px;
  position: relative;
}

.new {
  position: relative;
  left: 140px;
  display: flex;
  background-color: #99e2d0;
  bottom: 137px;
  width: 30%;
  border-radius: 0.25rem;
  padding: 3px;
  justify-content: center;
  color: #43af94;
}

/******FOOTER********/
.footer_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_content {
  background-color: #353535;
  color: #fff;
}

.fa-utensils,
.fa-hands-helping {
  margin-right: 10px;
  color: white;
}

.logoohmyfood_footer {
  font-family: "Shrikhand", sans-serif;
  color: white;
}

/*# sourceMappingURL=style.css.map */
