html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clear:before, .clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

/*****mixins*****/
/*****couleurs*****/
/***** police  *****/
/***** margin  ******/
/*****LOADER****/
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.delay1 {
  animation-delay: 0.1s;
}

.delay2 {
  animation-delay: 0.3s;
}

.delay3 {
  animation-delay: 0.6s;
}

.delay4 {
  animation-delay: 0.9s;
}

@keyframes progress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
header {
  display: flex;
  font-family: "Roboto";
  text-align: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 0 2px 0 #d5d5d5;
  position: relative;
}

* {
  text-decoration: none;
}

body {
  position: relative;
}

/*****HEADER*****/
.logoohmyfood {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  height: 55px;
}

.destination {
  text-align: center;
  border: none !important;
}

/*****PRESENTATION*****/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presentationglobal {
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  width: 100%;
  height: 150px;
}

.presentation_title {
  text-align: center;
  font-family: "Roboto";
  margin: 0 auto;
  width: 64%;
  font-weight: bolder;
}

.presentation_sub {
  text-align: center;
  padding: 5px;
  color: grey;
}

.localisation {
  display: flex;
  max-width: 100%;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  height: 32px;
  box-sizing: border-box;
  width: 100%;
  background-color: #eaeaead0;
}

.btn {
  display: flex;
  justify-content: center;
}
.btn_action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  height: 32px;
  border-radius: 1.25rem;
  background: linear-gradient(#d66cdb, #a45cdb);
  border: none;
}

/*****FONCTIONNEMENT****/
.fonctionnement {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.menuglobal {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.steps1,
.steps2 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  box-shadow: 0 0 17px #aaaaaa;
  border-radius: 1.25rem;
  padding: 17px;
  margin-top: 3px;
  margin-bottom: 10px;
}

.steps_cards {
  display: flex;
  flex-direction: column;
}
@media (min-width: 991px) {
  .steps_cards {
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
  }
}

.steps3 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  box-shadow: 0 0 17px #aaaaaa;
  border-radius: 1.25rem;
  padding: 17px;
  margin-top: 3px;
  margin-bottom: 10px;
  background-color: #f5edff;
}

.steps_number {
  display: flex;
  margin-left: -8px;
  background-color: #9356dc;
  border-radius: 1.25rem;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 15px;
}

.fa-mobile-alt,
.fa-bars,
.fa-store {
  margin-right: 6px;
}

.fa-store {
  color: #9356dc;
}

.fa-mobile-alt,
.fa-bars {
  color: #7e7e7e;
}

/******RESTAURANTS*******/
.restaurants_img {
  border-radius: 1.25rem 1.25rem 0 0;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.restau1,
.restau2,
.restau3,
.restau4 {
  position: relative;
  margin-bottom: 10px;
}

.restau_info {
  color: black;
  box-sizing: border-box;
  box-shadow: 0 0 17px #aaaaaa;
  border-radius: 0 0 1.25rem 1.25rem;
  padding: 10px;
  margin-top: -5px;
}

.new {
  position: absolute;
  flex-direction: row;
  top: 10px;
  right: 10px;
  display: flex;
  background-color: #99e2d0;
  border-radius: 0.25rem;
  padding: 3px;
  justify-content: center;
  color: #43af94;
}

.fa-heart {
  position: absolute;
  right: 16px;
  bottom: 10px;
  font-size: 20px;
  -webkit-text-stroke: 1px white;
}

.full_hrt:hover {
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-fill-color: transparent;
}

.shape_hrt {
  opacity: 0;
  transition: background 0.3s;
}
.shape_hrt:hover {
  opacity: 1;
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes slide-heart {
  0% {
    transform: translateZ(0);
    opacity: 0;
  }
  20% {
    transform: translateZ(32px);
    opacity: 0.2;
  }
  40% {
    transform: translateZ(64px);
    opacity: 0.4;
  }
  60% {
    transform: translateZ(96px);
    opacity: 0.6;
  }
  80% {
    transform: translateZ(128px);
    opacity: 0.8;
  }
  100% {
    transform: translateZ(160px);
    opacity: 1;
  }
}
.restaurants_title {
  font-size: 1.3rem;
  font-weight: bolder;
}

.restaurants {
  background-color: #f6f6f6;
  width: 100%;
}
@media (min-width: 600px) {
  .restaurants {
    column-count: 2;
  }
}

/******FOOTER********/
.footer_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

/****LOADER*****/
@keyframes pan-loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    animation-fill-mode: none;
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pan {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes body {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shadow {
  0% {
    width: 30%;
  }
  50% {
    width: 40%;
    left: 20px;
  }
  100% {
    width: 30%;
  }
}
.pan-loader {
  position: absolute;
  left: 50%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: loader 3s, pan-loader 5s;
  animation-fill-mode: none;
  width: 25%;
  height: 25%;
  margin-top: 20%;
  transform: translate(-50%, -50%);
}
.pan-loader .loader {
  position: relative;
  z-index: -1;
  justify-content: center;
  width: 60%;
  height: 45%;
  border: 10px solid transparent;
  border-bottom: 10px solid #fdd835;
  border-radius: 50%;
  animation: loader 3s, pan-loader 5s;
}
.pan-loader .pan-container {
  display: flex;
  width: 100%;
  animation: pan 3s, pan-loader 5s;
}
.pan-loader .pan {
  width: 60%;
  height: 20px;
  background: linear-gradient(#3949ab, #5c6bc0);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.pan-loader .handle {
  width: 40%;
  height: 10px;
  background: linear-gradient(#3949ab, #5c6bc0);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.pan-loader .shadow {
  position: relative;
  top: 15%;
  left: 15%;
  width: 30%;
  height: 8px;
  background: lightgray;
  box-shadow: 5px 0 8px 4px lightgray;
  border-radius: 20px;
  animation: shadow 3s, pan-loader 5s;
}

/*****couleurs*****/
/***** police  *****/
/***** margin  ******/
/*****LOADER****/
footer a {
  color: white;
}

.footer_content {
  background-color: #353535;
  color: #fff;
}

.fa-utensils,
.fa-hands-helping {
  margin-right: 10px;
  color: white;
}

.logoohmyfood_footer {
  font-family: "Shrikhand", sans-serif;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

main {
  background-color: #f6f6f6;
  border-radius: 1.25rem 1.25rem 0 0;
  position: relative;
  margin-top: -25px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
}

li {
  list-style-type: none;
}

.logoohmyfood {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  font-size: 35px;
  justify-content: center;
  font-family: "Shrikhand", sans-serif;
}

.arrow {
  margin-left: 10px;
}

.img_resto1,
.img_resto2,
.img_resto3,
.img_resto4 {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.enseigne {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 1.25rem 1.25rem 0 0;
  padding: 10px;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 25px;
}

h2 {
  font-size: 13px;
  margin: 10px;
  border-top: none;
  border-bottom: 3px solid #99e2d0;
  width: 11%;
}

footer {
  background-color: #353535;
}

.entrer1 {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 1.25rem;
  background: #ffffff;
  margin-bottom: 10px;
}

.commander {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 32px;
  border-radius: 1.25rem;
  background: linear-gradient(#d66cdb, #a45cdb);
  border: none;
  padding: 10px;
}

.btn_link {
  display: flex;
  justify-content: center;
}

.fa-heart {
  position: absolute;
  right: 16px;
  bottom: 10px;
  font-size: 20px;
  -webkit-text-stroke: 1px white;
}

.full_hrt:hover {
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-fill-color: transparent;
}

.shape_hrt {
  opacity: 0;
  transition: background 0.3s;
}
.shape_hrt:hover {
  opacity: 1;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes slide-heart {
  0% {
    transform: translateZ(0);
    opacity: 0;
  }
  20% {
    transform: translateZ(32px);
    opacity: 0.2;
  }
  40% {
    transform: translateZ(64px);
    opacity: 0.4;
  }
  60% {
    transform: translateZ(96px);
    opacity: 0.6;
  }
  80% {
    transform: translateZ(128px);
    opacity: 0.8;
  }
  100% {
    transform: translateZ(160px);
    opacity: 1;
  }
}
.btn_checked {
  font-size: 1.3rem;
  position: absolute;
  top: 0;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 1s;
  color: #ffffff;
  opacity: 0;
  border-radius: 0 1.25rem 1.25rem 0;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}
.price {
  position: absolute;
  right: 10px;
  top: 20px;
  text-overflow: ellipsis;
}

.entrer1 {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: flex-end;
}
.entrer1:hover span,
.entrer1 :active span {
  margin-right: 55px;
}
.entrer1:hover .btn_checked,
.entrer1 :active .btn_checked {
  opacity: 1;
  animation: slide-in-left 0.5s linear both;
  transform-origin: right 50%;
  width: 60px;
  height: 100%;
  background: #99e2d0;
  border-radius: 0 1.25rem 1.25rem 0;
}
.entrer1:hover .btn_checked .add_to_cart,
.entrer1 :active .btn_checked .add_to_cart {
  transform: rotate(360deg);
  transition-duration: 1s;
}
.entrer1 span {
  transition-duration: 0.5ms;
  margin-left: auto;
}

.enter_sub {
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.enter_subtile {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

footer a {
  color: white;
}

.footer_content {
  background-color: #353535;
  color: #fff;
}

.fa-utensils,
.fa-hands-helping {
  margin-right: 10px;
  color: white;
}

.logoohmyfood_footer {
  font-family: "Shrikhand", sans-serif;
  color: white;
}

/*# sourceMappingURL=style.css.map */
