/*****couleurs*****/
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

/***** police  *****/
$cd-police: "Roboto";
$cd-police1: "Shrikhand", sans-serif;

/***** margin  ******/
$cd-margin: 20px;
