
/*****couleurs*****/
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary: #99E2D0;

/***** police  *****/
$cd-police: 'Roboto','Shrikhand', sans-serif;

/***** margin  ******/
$cd-margin: 20px;