/*****couleurs*****/
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

/***** police  *****/
$cd-police: "Roboto";
$cd-police1: "Shrikhand", sans-serif;

/***** margin  ******/
$cd-margin: 20px;
/*****LOADER****/
$component-dimension: 250px;
$timing: 3s;
$color-shadow: lightgray;
$pan-color-light: #3949ab;
$pan-color-dark: #5c6bc0;
$loader-color: #fdd835;
