body{
    background: #fff;
}
a{
  text-decoration: none;
  color: black;
}


.info{
  padding-bottom: 40px;
  background-color:  #f6f6f6;
  font-family: $cd-police;
  display: flex;
  flex-direction: column;

  &-tittle{
    margin-top: 30px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }

  &-prefaxe{
    text-align: center;
    padding: 14px 0;
  }
  &-btn{
    border: none;
    margin: 0 auto;
    padding: 14px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px #d2d2d2;
    font-family: $cd-police;
  }
  &-btn a{
    color: #fff;
  }
  &-btn:hover{
    opacity: .8;
  }
}