* {
	box-sizing: border-box;
}
html, body, ul, li, h1, h2, h3, h4, h5, p, img {
	margin: 0;
	padding: 0;
}
body {
	font-size: 16px;
	margin: auto;
	font-family: 'Roboto', sans-serif;
	background-color: #f6f6f6;
}
img {
	display: block;
}
a {
	color: black;
	text-decoration: none;
}
ul {
	list-style-type: none;
}
body, html {
	min-width: 375px;
	margin: auto;
}
#container_img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}
.img_resto1 {
	background-image: url(/Maquettes_Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
	width: 100%;
	height: 100px;
	object-fit: cover;
	border-radius: 1.25rem;
}
.img_resto2 {
	background-image: url(/Maquettes_Ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
	width: 100%;
	height: 100px;
	object-fit: cover;
	border-radius: 1.25rem;
}
main {
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	position: relative;
	top: -1.5rem;
	background-color: #f6f6f6;
}
header {
	height: 62px;
	background-color: white;
	.arrow {
		position: absolute;
		top: 1.5rem;
		left: 1.5rem;
		font-size: 1.25rem;
	}
	& > .logoohmyfood {
		font-size: 1.8rem;
		display: flex;
		justify-content: center;
		font-family: 'Shrikhand', cursive;
		font-size: 1.8rem;
	}
}
.carte {
	padding: 2rem;
	h2 {
		font-weight: 300;
		margin: 2.5rem 0px 1rem 1.2rem;
		font-size: 1rem;
		max-width: 1000px;
		margin: 2rem auto 1rem auto;
		&::after {
			content: "";
			display: block;
			width: 38px;
			height: 0;
			border: 1.5px solid #99E2D0;
			background-color: #99E2D0;
			margin-top: 5px;
		}
	}
	.global {
		margin: 0px auto 20px auto;
		min-width: 636px;
		max-width: 850px;
	}
}
footer {
	padding: 1.2rem 0rem 2.5rem 1.2rem;
	background-color: #353535;
	.logoohmyfood_footer {
		display: block;
		margin-bottom: .5rem;
		font-family: 'Shrikhand', cursive;
		font-size: 1.1rem;
		color: white;
	}
	a {
		display: block;
		margin: .3rem;
		color: white;
		&:hover {
			text-decoration: underline;
		}
		& > .fork {
			margin-right: 1rem;
			font-size: .8rem;
		}
		& > .hands {
			margin-right: .7rem;
			font-size: .8rem;
		}
	}
}
@media {
	all {
		and {
			(min-width {
				&: {
					700px) {
						footer {
      padding: 2.2rem 0rem 2.5rem 4.2rem;
					}
				}
			}
		}
	}
	(min-width {
		&: {
			432px) {
				main .menu {
      gap: 20px;
			}
		}
	}
}
} {
	.enseigne {
		display: flex;
		justify-content: space-between;
		padding: 2rem 15px 0px 0px;
		margin: -1rem 1.2rem 0px 1.2rem;
	}
	@media {
		(min-width {
			&: {
				700px) {
					img {
      max-height: 400px;
				}
			}
		}
	}
}
.enseigne {
	& > h1 {
		font-family: 'Shrikhand', cursive;
		font-size: 1.8rem;
	}
}
.global {
	overflow: hidden;
	position: relative;
	box-shadow: 0rem 0.5rem 1rem #eaeaea;
	display: flex;
	margin: 1rem;
	border-radius: 15px;
	background-color: white;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	.details {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding: 0.8rem 1.4rem 0.8rem 0.8rem;
		h3 {
			font-size: 1.1rem;
			font-weight: 600;
			white-space: nowrap;
			overflow: hidden;
			margin-bottom: 0.4rem;
			text-overflow: ellipsis;
		}
		p {
			font-size: 0.9rem;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	span {
		position: absolute;
		right: 0;
		bottom: 0;
		margin-right: 0px;
		font-weight: 600;
		width: 20px;
		padding: 0px .8rem .8rem 0px;
		margin-right: 1.5rem;
		transition: margin-right 0.4s;
	}
}
button {
	opacity: 1;
	background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
	border-radius: 50px;
	border: transparent;
	box-shadow: 0px 7px 10px #b4b4b4;
	max-height: 50px;
	margin: auto;
	padding: 1rem;
	justify-content: center;
	font-size: 1rem;
	font-weight: 500;
	transition: opacity 500ms, box-shadow 500ms;
	&:hover {
		cursor: pointer;
		opacity: .8;
		box-shadow: 0px 10px 5px #b4b4b4;
	}
	& > span {
		color: white;
	}
}
.btn {
	display: flex;
	justify-content: center;
	max-height: 50px;
	& > .action {
		font-size: 1rem;
		font-weight: 500;
		& > span {
			padding: 0px 15px;
		}
	}
}
.btn_link {
	display: flex;
	flex-direction: column;
	align-items: center;
	& > .commander {
		margin: 2rem 0px 6rem 0px;
		& > span {
			padding: 0px 40px;
		}
	}
}
