@import "../utils/variable";
@import "../layout/footer";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

main {
  transition-duration: 0.4s;
  background-color: #f6f6f6;
  border-radius: 1.25rem 1.25rem 0 0;
  position: relative;
  margin-top: -25px;
}
@keyframes mooveup {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
}
li {
  list-style-type: none;
}
.logoohmyfood {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  font-size: 35px;
  justify-content: center;
  font-family: $cd-police1;
}
.arrow {
  margin-left: 10px;
}
.img_resto1,
.img_resto2,
.img_resto3,
.img_resto4 {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.enseigne {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 1.25rem 1.25rem 0 0;
  padding: 10px;
}
h1 {
  font-family: $cd-police1;
  font-size: 25px;
}
h2 {
  font-size: 18px;
  margin: 10px;
  margin-bottom: 20px;
  margin-top: 50px;
  border-top: none;
  border-bottom: 3px solid #99e2d0;
  width: 11%;
}

.entrer1 {
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 0 17px rgb(170, 170, 170);
  padding: 10px;
  border-radius: 1.25rem;
  background: #ffffff;
  margin-bottom: 10px;
}
.commander {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  height: 32px;
  width: 25%;
  border-radius: 1.5rem;
  box-shadow: 0 0 17px rgb(170, 170, 170);
  background: linear-gradient(#d66cdb, #a45cdb);
  border: none;
  text-decoration: none;
  color: white;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 60px;
}
.btn_link {
  display: flex;
  justify-content: center;
  background: #f6f6f6;
  .commander {
    span {
      color: white;
    }
  }
}

.fa-heart {
  position: absolute;
  right: 16px;
  bottom: 10px;
  font-size: 20px;
  -webkit-text-stroke: 1px white;
}
.full_hrt:hover {
  background: linear-gradient($color-primary, $color-secondary);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-fill-color: transparent;
}
.shape_hrt {
  opacity: 0;
  transition: background 0.3s;
  &:hover {
    opacity: 1;
    background: linear-gradient($color-primary, $color-secondary);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@keyframes slide-heart {
  0% {
    transform: translateZ(0);
    opacity: 0;
  }
  20% {
    transform: translateZ(32px);
    opacity: 0.2;
  }
  40% {
    transform: translateZ(64px);
    opacity: 0.4;
  }
  60% {
    transform: translateZ(96px);
    opacity: 0.6;
  }
  80% {
    transform: translateZ(128px);
    opacity: 0.8;
  }
  100% {
    transform: translateZ(160px);
    opacity: 1;
  }
}
.btn_checked {
  font-size: 1.3rem;
  position: absolute;
  top: 0;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 1s;
  color: #ffffff;
  opacity: 0;
  border-radius: 0 1.25rem 1.25rem 0;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}

.price {
  position: absolute;
  right: 10px;
  top: 20px;
  text-overflow: ellipsis;
}
.middle_list,
.enter_list,
.dessert_list {
  margin-top: 25px;
}
.entrer1 {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: flex-end;
  &:hover,
  :active {
    span {
      margin-right: 55px;
    }
    .btn_checked {
      opacity: 1;
      animation: slide-in-left 0.5s linear both;
      transform-origin: right 50%;
      width: 60px;
      height: 100%;
      background: #99e2d0;
      border-radius: 0 1.25rem 1.25rem 0;
      .add_to_cart {
        transform: rotate(360deg);
        transition-duration: 1s;
      }
    }
  }
  span {
    transition-duration: 0.5ms;
    margin-left: auto;
  }
}
.enter_sub {
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.enter_subtile {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.entrer1 {
  animation-duration: 1s;
  animation: mooveup 2s;
}
