.footer_content {
  background-color: #353535;
  color: #fff;
}
.fa-utensils,
.fa-hands-helping {
  margin-right: 10px;
  color: white;
}
.logoohmyfood_footer {
  font-family: $cd-police1;
  color: white;
}
