.bas{
    background-color: #353535;
    color: #fff;

    &-info{
        margin-left: 16px;
        padding: 25px 0 40px 0;
    }

    &-3{
        font-family: $cd-police;
        margin-bottom: 20px;
    }
}
.fa-utensils, .fa-hands-helping{
    margin-right: 10px;
}
.bas-1title{
    font-family: $cd-police;
    color: white;
}