footer a {
  color: white;
}
.footer_content {
  background-color: #353535;
  color: #fff;
  padding: 15px;
  ul {
    font-family: $cd-police;
    font-weight: bold;
    margin-top: 20px;
    li {
      margin-bottom: 5px;
    }
  }
}
.fa-utensils,
.fa-hands-helping {
  margin-right: 10px;
  color: white;
}
.logoohmyfood_footer {
  font-family: $cd-police1;
  margin-bottom: 25px;
  color: white;
}
